.container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Set container height to fill the viewport */
    margin-top: 60px;
  }
  .sidebar-container.hidden {
    display: none;
  }