<div class="page-background">
    <div class="logo-top-left">
        <img src="../../../assets/Tunisie_Telecom_Logo" alt="Logo" class="logo">
    </div>
    
    <mat-card class="custom-card">
        <div class="logo-top-middle">
            <img src="../../../assets/Tunisie_Telecom_Logo" alt="Logo" class="logo2">
        </div>
        <mat-card-title class="login">c</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form"  class="row g-4">
                <div class="col-12">
                    <mat-form-field >
                        <mat-icon matPrefix style="color:#3f51b5 ;">email</mat-icon>
                        <input matInput type="text" placeholder="Enter Username" formControlName="username" required>
                    </mat-form-field>
                </div>

                <div class="col-12">
                    <mat-form-field >
                        <mat-icon matPrefix style="color:#3f51b5 ;">lock</mat-icon>
                        <input matInput type="password" placeholder="Enter Password" formControlName="password" required>
                    </mat-form-field>
                </div>

                <div class="form-options">
                    <mat-checkbox style="color: white;"><div style="color: white;">Remember me</div></mat-checkbox>
                    <a href="#" style="color: white;">Forgot Password?</a>
                </div>

                <div>
                    <button type="submit" class="login-button" mat-raised-button 
                    routerLink="/dashboard">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
