<div class="button-container" align="right">
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="container dialog-container">
    <div class="card p-5 mt-2">
      <form [formGroup]="editForm" (ngSubmit)="save()">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>call</mat-icon>
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number" formControlName="phoneNumber">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>mail</mat-icon>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>wc</mat-icon>
          <mat-label>Sex</mat-label>
          <mat-select formControlName="sex">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>assignment</mat-icon>
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">User</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-divider></mat-divider>
        <div class="form-buttons mt-3">
          <button mat-raised-button class="m-2" type="reset">Clear</button>
          <button mat-raised-button color="primary" class="m-2" type="submit">Save Modification</button>
        </div>
      </form>
    </div>
  </div>
  